body {
  background-color: rgb(43, 43, 54);
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
  background-size: cover;

}

/* CARD UTAMA */
.card {
  background-color: antiquewhite;
  /* background: transparent; */
  width: 1000px;
  min-height: 500px;
  border: 1px solid rgba(255, 255, 255, 2);
  border-radius: 20px;
  padding: 35px;
  backdrop-filter: blur(20px);
  box-shadow: 0 30px 50px rgba(148, 143, 169, 0.4);
  margin: 40px auto 50px;
}

/* CARD NAVBAR */
.card1 {

  border-radius: 10px;
  color: white;
  padding: 15px;
  text-align: center;
  margin-bottom: 30px;

}

.ul-navbar {
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 15px;
  justify-content: center;
}

.li-navbar {
  background: rgb(71, 45, 45);
  width: 140px;
  height: 45px;
  border-radius: 10px;
  list-style: none;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: transform 0.3s ease;
}

.li-navbar:hover {
  transform: scale(1.1);
}

.a-navbar {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.card-content {
  gap: 45px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 25px;

}

.foto {

  width: 240px;
  height: auto;
  object-fit: cover;
  border-radius: 15px;
  text-align: left;
}

.text {
  flex: 1;
  padding-left: 10px;
  max-width: 400px;
  font-size: 25px;
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 4px;
  font-size: 50px;
}

.text-home {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
